body{
	background-image: url("SpaceBackground.jpg");
	background-size:1400px 1000px ;
	background-repeat: no-repeat;
	background-position: center top;
	border-style: none;
	padding-left: 0px;
	padding-right: 0px;
}


div.racecourse{
	position:relative;
	top:340px;
	left:0px;
	height:210px;
	border-style:none;
	padding:0px;
}

div.startButtons{
	position:relative;
	top: 320px;
	height:50px;
	width:100%;
	border-style:none;
	padding:0px;
	
}

div.winner{
	display: none;
	position: absolute;
	width: 100%;
	bottom: 125px;
	left: 0px;
	color: white;
}

div.winner1disp{
	display: none;
}
div.winner2disp{
	display: none;
}

#runner1{
	position: absolute;
	bottom:175px;
	left:10px;
	z-index: 2;
}

#runner2{
	position: absolute;
	bottom:65px;
	left: 10px;
	z-index: 2;
}

#saturn{
	position: absolute;
	display:block;
	bottom: 50px;
	left: 1000px;
	z-index: 0;
}

#Ood{
	position:absolute;
	display:block;
	bottom:60px;
	right:147px;
	height:72px;
	width:104px;
	z-index: 1;
}	

h1
{
	
	position: absolute;
	top: -39px;
	left: 205px;
	height: 210px;
	width: 955px;
	text-align: center;
	background-color: #00001a;
	color: #00FFFF;
	font-family: "Chalkduster", fantasy;
	font-size: 90px;
}
h2{

	float: left;
}

h3
{
	float: right;
}

p1{
	Position: absolute;
	top: 600px;
	left: 5px;
	
	
}
p2{
	Position: absolute;
	top: 600px;
	left: 950px;
}
p3{
	Position: absolute;
	top: 600px;
	left: 400px;
	background-color: #00001a;
	color: #00FFFF;
	width: 580px;
	height: 400px;
	font-size: 100px;
}
