h1
{
	background-color: Black;
	color: Brown;
	text-align: center;
	font-family: "Chalkduster", fantasy;
	font-size: 500%;
	
}
p{
		background-color: #F2AE72;

}
body {
			background-color: #F2AE72;

}
#background {
	background-color: #F2AE72;
}
