h1
{
	position: absolute;
	top: 0px;
	left: 350px;
	width: 500px;
	text-align: center;
	background-color: black;
	color: Brown;
	font-family: "Chalkduster", fantasy;
	font-size: 500%;
	
}
h2
{
	float: left;
}
h3
{
	float: right;
	
}
h4
{
	float: center;
}


p1
{
	position: absolute;
	top: 50;
	left: 100px;
	margin: 250px;
	padding: 1px;
	text-align: center;
	background-color: black;
	color: brown;
		
}
p2
{
	position: absolute;
	top: 400px;
	left: 5px;
	width: 100px;
	background-color: black;

}
p3
{
	position: absolute;
	top: 300px;
	left: 200px;
	width: 50000px;
	background-color: black;
}
p4
{
		position: absolute;
		top: 510px;
		left: 200px;
		width: 500000px;
		background-color: black;
		color: brown;
}

p5
{
		position: absolute;
		top: 510px;
		left: 412px;
		width: 500000px;
		background-color: black;
		color: brown;
}

p6
{
		position: absolute;
		top: 510px;
		left: 620px;
		width: 500000px;
		background-color: black;
		color: brown;
}

p7
{
		position: absolute;
		top: 510px;
		left: 830px;
		width: 500000px;
		background-color: black;
		color: brown;
}

p8
{
		position: absolute;
		top: 510px;
		left: 1030px;
		width: 500000px;
		background-color: black;
		color: brown;
}

p9
{
		position: absolute;
		top: 510px;
		left: 200px;
		width: 500000px;
		background-color: black;
		color: brown;
}

body {
			background-color: black;

}
#background {

	background-color: black;
}
table {
    border-collapse: collapse;
}
td {
    text-align: center;
	color: brown;
}
th, td {
	padding: 15px;
}
a:link {
    text-decoration: none;
	background-color: black;
	color: brown;
	font-family: "Times New Roman"
	
}
label {
	color: brown;
}



